<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.title ? `${title} | contentjet` : 'contentjet' %></title>
    <%- include('includes/stylesheets'); %>
  </head>
  <body>
    <%- include('includes/header'); %>
    <div class="doc">
      <aside class="doc__sidebar">
        <nav class="doc-nav">
          <ul class="doc-nav__list">
            <% collections.docs.forEach(doc => { %>
              <li class="<%= doc.path === path ? 'doc-nav__item active' : 'doc-nav__item' %>">
                <a class="doc-nav__anchor" href="/<%= doc.path %>"><%= doc.title %></a>
              </li>
            <% }); %>
          </ul>
        </nav>
      </aside>
      <section class="doc__content">
        <%- contents %>
      </section>
    </div>
  </body>
</html>
